# pandas Concepts

# checking the version of Pandas

In [5]:
import pandas as pd
print(pd.__version__)

1.0.5

# Creating an empty series

In [11]:
import pandas as pd
emp_series = pd.Series()
print(emp_series)

Series([], dtype: float64)

<ipython-input-11-4c20de9e6c48>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  emp_series = pd.Series()

# Creating series with array

In [13]:
import pandas as pd  
import numpy as np  
info = np.array(['P','r','o','g','r','a','m','m','i','n','g'])  
a = pd.Series(info)  
print(a)

0     P
1     r
2     o
3     g
4     r
5     a
6     m
7     m
8     i
9     n
10    g
dtype: object

# Create series with dictionary

In [14]:
import pandas as pd

fruits = {"fruit1": 'apple', "fruit2": 'banana', "fruit3": 'grapes'}

myseries = pd.Series(fruits)

print(myseries)

fruit1     apple
fruit2    banana
fruit3    grapes
dtype: object

# Creating series with list

In [16]:
import pandas as pd

a = [10, 20, 30]

myseries = pd.Series(a)

print(myseries)

0    10
1    20
2    30
dtype: int64

# Accessing series data

In [20]:
import pandas as pd

a = [10, 20, 30]

myseries = pd.Series(a)

print(myseries[1])

20

# Creating own labels

In [25]:
import pandas as pd

age = [11,17, 20]

student = pd.Series(a, index = ["rahul", "ajay", "sehnaz"])

print(student)
print(student.shape)          #shape gives the total number of elements in the series

rahul     10
ajay      20
sehnaz    30
dtype: int64
(3,)

# creating dataframe using a list

In [26]:
import pandas as pd

a = [10, 20, 30]

myseries = pd.DataFrame(a)

print(myseries)

    0
0  10
1  20
2  30

# Creating datframes fron DIctionary

In [27]:
import pandas as pd  

info = {'ID' :[101, 102, 103],'Department' :['MCA','B.Tech','M.Tech',]}  
dframe = pd.DataFrame(info)  
print (dframe)

    ID Department
0  101        MCA
1  102     B.Tech
2  103     M.Tech

# append() function

In [84]:
import pandas as pd   
info1 = pd.DataFrame({"x":[25,15,12,19],   
                    "y":[47, 24, 17, 29]})  # Create first Dataframe using dictionary   
        
  
info2 = pd.DataFrame({"x":[25, 15, 12],   
                    "y":[47, 24, 17]}) # Create second Dataframe using dictionary    

result = info1.append(info2, ignore_index = True)   
print(result)

    x   y
0  25  47
1  15  24
2  12  17
3  19  29
4  25  47
5  15  24
6  12  17

# reading CSV files

In [56]:
import pandas as pd
e_data = pd.read_csv(r'C:\Users\home\Desktop\pandas\employees.csv')
print(e_data)

     Id      Ename  Age    Salary
0   101     Ashish   23   25000.0
1   102      Pooja   23   23000.0
2   103      Rahul   23   23000.0
3   104       Ekta   23   23000.0
4   105    Anshika   23   23000.0
5   106       Neha   23   23000.0
6   107     Akshay   23  100000.0
7   108      Vipul   24   20000.0
8   109     Nikita   25   28000.0
9   110      Rinky   25   30000.0
10  111     Shikha   22   27000.0
11  112       Annu   27   27000.0
12  113     Shilpa   23   27000.0
13  114       Miku   26   27000.0
14  115      Nisha   29   27000.0
15  116       John  330   27000.0
16  117  Siddharth   35   27000.0
17  118      Imran   40   28000.0
18  119       Amit   24   29000.0
19  200      Nupur   22       NaN

# Viewing the data

In [65]:
import pandas as pd
emp_data = pd.read_csv(r'C:\Users\home\Desktop\pandas\employees.csv')
print(emp_data.to_string())                     ##to_string() method will print the entire data in the file

     Id      Ename  Age    Salary
0   101     Ashish   23   25000.0
1   102      Pooja   23   23000.0
2   103      Rahul   23   23000.0
3   104       Ekta   23   23000.0
4   105    Anshika   23   23000.0
5   106       Neha   23   23000.0
6   107     Akshay   23  100000.0
7   108      Vipul   24   20000.0
8   109     Nikita   25   28000.0
9   110      Rinky   25   30000.0
10  111     Shikha   22   27000.0
11  112       Annu   27   27000.0
12  113     Shilpa   23   27000.0
13  114       Miku   26   27000.0
14  115      Nisha   29   27000.0
15  116       John  330   27000.0
16  117  Siddharth   35   27000.0
17  118      Imran   40   28000.0
18  119       Amit   24   29000.0
19  200      Nupur   22       NaN

# head() method

In [68]:
import pandas as pd
emp_data = pd.read_csv(r'C:\Users\home\Desktop\pandas\employees.csv')
print(emp_data.head())           ##the head() method return the top 5 rows

print(emp_data.head(8))          ##if we pass any number as a parameter,then this will return the specified number of top rows

    Id    Ename  Age   Salary
0  101   Ashish   23  25000.0
1  102    Pooja   23  23000.0
2  103    Rahul   23  23000.0
3  104     Ekta   23  23000.0
4  105  Anshika   23  23000.0
    Id    Ename  Age    Salary
0  101   Ashish   23   25000.0
1  102    Pooja   23   23000.0
2  103    Rahul   23   23000.0
3  104     Ekta   23   23000.0
4  105  Anshika   23   23000.0
5  106     Neha   23   23000.0
6  107   Akshay   23  100000.0
7  108    Vipul   24   20000.0

# tail() method

In [69]:
import pandas as pd
emp_data = pd.read_csv(r'C:\Users\home\Desktop\pandas\employees.csv')
print(emp_data.tail())              ##the tail() method return the last 5 rows

print(emp_data.tail(7))             ##if we pass the any number as a parameter then it will return the specified number of last rows

     Id      Ename  Age   Salary
15  116       John  330  27000.0
16  117  Siddharth   35  27000.0
17  118      Imran   40  28000.0
18  119       Amit   24  29000.0
19  200      Nupur   22      NaN
     Id      Ename  Age   Salary
13  114       Miku   26  27000.0
14  115      Nisha   29  27000.0
15  116       John  330  27000.0
16  117  Siddharth   35  27000.0
17  118      Imran   40  28000.0
18  119       Amit   24  29000.0
19  200      Nupur   22      NaN

# info() method

In [71]:
import pandas as pd
emp_data = pd.read_csv(r'C:\Users\home\Desktop\pandas\employees.csv')
print(emp_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      20 non-null     int64
 1   Ename   20 non-null     object
 2   Age     20 non-null     int64
 3   Salary  19 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 768.0+ bytes
None

# data operations in pandas

# removing empty cells

In [85]:
import pandas as pd

dataframe = pd.read_csv(r'C:\Users\home\Desktop\pandas\e_data.csv')

new_df = dataframe.dropna()

print(new_df.to_string())

     Id      Ename    Age    Salary        DOB
0   101     Ashish   23.0   25000.0   2/2/1997
1   102      Pooja   23.0   23000.0   3/2/1997
2   103      Rahul   23.0   23000.0   4/2/1997
3   104       Ekta   23.0   23000.0   5/2/1997
4   105    Anshika   23.0   23000.0   6/2/1997
5   106       Neha   23.0   23000.0   7/2/1997
6   107     Akshay   23.0  100000.0  1997/2/30
7   108      Vipul   24.0   20000.0   9/2/1997
9   110      Rinky   25.0   30000.0  11/2/1997
10  111     Shikha   22.0   27000.0  12/2/1997
12  113     Shilpa   23.0   27000.0  14/2/1997
13  114       Miku   26.0   27000.0  15/2/1997
14  115      Nisha   29.0   27000.0  16/2/1997
15  116       John  330.0   27000.0  17/2/1997
16  117  Siddharth   35.0   27000.0  18/2/1997
17  118      Imran   40.0   28000.0  19/2/1997
18  119       Amit   24.0   29000.0  20/2/1997
19  200      Nupur   22.0   25000.0  21/2/1997
20  201      Nupur   22.0   25000.0  22/2/1997

# replace empty cells with a value

In [92]:
import pandas as pd

df = pd.read_csv(r'C:\Users\home\Desktop\pandas\e_data.csv')
df["Salary"].fillna(24000, inplace = True)    ##in this only specified column is fill with specified value.

df.fillna(24, inplace = True)                ##in this all empty cells are filled with given value.
print(df.to_string())

     Id      Ename    Age    Salary        DOB
0   101     Ashish   23.0   25000.0   2/2/1997
1   102      Pooja   23.0   23000.0   3/2/1997
2   103      Rahul   23.0   23000.0   4/2/1997
3   104       Ekta   23.0   23000.0   5/2/1997
4   105    Anshika   23.0   23000.0   6/2/1997
5   106       Neha   23.0   23000.0   7/2/1997
6   107     Akshay   23.0  100000.0  1997/2/30
7   108      Vipul   24.0   20000.0   9/2/1997
8   109     Nikita   24.0   28000.0  10/2/1997
9   110      Rinky   25.0   30000.0  11/2/1997
10  111     Shikha   22.0   27000.0  12/2/1997
11  112       Annu   27.0   24000.0  13/2/1997
12  113     Shilpa   23.0   27000.0  14/2/1997
13  114       Miku   26.0   27000.0  15/2/1997
14  115      Nisha   29.0   27000.0  16/2/1997
15  116       John  330.0   27000.0  17/2/1997
16  117  Siddharth   35.0   27000.0  18/2/1997
17  118      Imran   40.0   28000.0  19/2/1997
18  119       Amit   24.0   29000.0  20/2/1997
19  200      Nupur   22.0   25000.0  21/2/1997
20  201      Nupur   22.0   25000.0  22/2/1997

# mean method to fill the empty cells

In [93]:
import pandas as pd

df = pd.read_csv(r'C:\Users\home\Desktop\pandas\e_data.csv')
a = df["Salary"].mean()

df["Salary"].fillna(a, inplace = True)                ##the empty cells are filled with mean of salary column. 
print(df.to_string())

     Id      Ename    Age    Salary        DOB
0   101     Ashish   23.0   25000.0   2/2/1997
1   102      Pooja   23.0   23000.0   3/2/1997
2   103      Rahul   23.0   23000.0   4/2/1997
3   104       Ekta   23.0   23000.0   5/2/1997
4   105    Anshika   23.0   23000.0   6/2/1997
5   106       Neha   23.0   23000.0   7/2/1997
6   107     Akshay   23.0  100000.0  1997/2/30
7   108      Vipul   24.0   20000.0   9/2/1997
8   109     Nikita    NaN   28000.0  10/2/1997
9   110      Rinky   25.0   30000.0  11/2/1997
10  111     Shikha   22.0   27000.0  12/2/1997
11  112       Annu   27.0   29350.0  13/2/1997
12  113     Shilpa   23.0   27000.0  14/2/1997
13  114       Miku   26.0   27000.0  15/2/1997
14  115      Nisha   29.0   27000.0  16/2/1997
15  116       John  330.0   27000.0  17/2/1997
16  117  Siddharth   35.0   27000.0  18/2/1997
17  118      Imran   40.0   28000.0  19/2/1997
18  119       Amit   24.0   29000.0  20/2/1997
19  200      Nupur   22.0   25000.0  21/2/1997
20  201      Nupur   22.0   25000.0  22/2/1997

# cleaning the wrong format

In [95]:
import pandas as pd

df = pd.read_csv(r'C:\Users\home\Desktop\pandas\employee.csv')

df['DOB'] = pd.to_datetime(df['DOB'])

print(df.to_string())

     Id      Ename    Age    Salary        DOB
0   101     Ashish   23.0   25000.0 1997-02-02
1   102      Pooja   23.0   23000.0 1997-03-02
2   103      Rahul   23.0   23000.0 1997-04-02
3   104       Ekta   23.0   23000.0 1997-05-02
4   105    Anshika   23.0   23000.0 1997-06-02
5   106       Neha   23.0   23000.0 1997-07-02
6   107     Akshay   23.0  100000.0 1997-02-10
7   108      Vipul   24.0   20000.0 1997-09-02
8   109     Nikita    NaN   28000.0 1997-10-02
9   110      Rinky   25.0   30000.0 1997-11-02
10  111     Shikha   22.0   27000.0 1997-12-02
11  112       Annu   27.0       NaN 1997-02-13
12  113     Shilpa   23.0   27000.0 1997-02-14
13  114       Miku   26.0   27000.0 1997-02-15
14  115      Nisha   29.0   27000.0 1997-02-16
15  116       John  330.0   27000.0 1997-02-17
16  117  Siddharth   35.0   27000.0 1997-02-18
17  118      Imran   40.0   28000.0 1997-02-19
18  119       Amit   24.0   29000.0 1997-02-20
19  200      Nupur   22.0   25000.0 1997-02-21
20  201      Nupur   22.0   25000.0 1997-02-22

# cleaning wrong Data

In [98]:
import pandas as pd

df = pd.read_csv(r'C:\Users\home\Desktop\pandas\employee.csv')
     
df.loc[6, 'Salary'] = 28000     ##Replacing values.

print(df.to_string())

     Id      Ename    Age   Salary        DOB
0   101     Ashish   23.0  25000.0   2/2/1997
1   102      Pooja   23.0  23000.0   3/2/1997
2   103      Rahul   23.0  23000.0   4/2/1997
3   104       Ekta   23.0  23000.0   5/2/1997
4   105    Anshika   23.0  23000.0   6/2/1997
5   106       Neha   23.0  23000.0   7/2/1997
6   107     Akshay   23.0  28000.0  1997/2/10
7   108      Vipul   24.0  20000.0   9/2/1997
8   109     Nikita    NaN  28000.0  10/2/1997
9   110      Rinky   25.0  30000.0  11/2/1997
10  111     Shikha   22.0  27000.0  12/2/1997
11  112       Annu   27.0      NaN  13/2/1997
12  113     Shilpa   23.0  27000.0  14/2/1997
13  114       Miku   26.0  27000.0  15/2/1997
14  115      Nisha   29.0  27000.0  16/2/1997
15  116       John  330.0  27000.0  17/2/1997
16  117  Siddharth   35.0  27000.0  18/2/1997
17  118      Imran   40.0  28000.0  19/2/1997
18  119       Amit   24.0  29000.0  20/2/1997
19  200      Nupur   22.0  25000.0  21/2/1997
20  201      Nupur   22.0  25000.0  22/2/1997

# removing Duplicate values

In [115]:
import pandas as pd

df = pd.read_csv(r'C:\Users\home\Desktop\pandas\emp_data.csv')
print(df.duplicated())      ##return true if there is any duplicate value present
a = df.drop_duplicates()     #remove duplicate values from file. 
print(a)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
dtype: bool
     Id      Ename    Age    Salary        DOB
0   101     Ashish   23.0   25000.0   2/2/1997
1   102      Pooja   23.0   23000.0   3/2/1997
2   103      Rahul   23.0   23000.0   4/2/1997
3   104       Ekta   23.0   23000.0   5/2/1997
4   105    Anshika   23.0   23000.0   6/2/1997
5   106       Neha   23.0   23000.0   7/2/1997
6   107     Akshay   23.0  100000.0  1997/2/10
7   108      Vipul   24.0   20000.0   9/2/1997
8   109     Nikita    NaN   28000.0  10/2/1997
9   110      Rinky   25.0   30000.0  11/2/1997
10  111     Shikha   22.0   27000.0  12/2/1997
11  112       Annu   27.0       NaN  13/2/1997
12  113     Shilpa   23.0   27000.0  14/2/1997
13  114       Miku   26.0   27000.0  15/2/1997
14  115      Nisha   29.0   27000.0  16/2/1997
15  116       John  330.0   27000.0  17/2/1997
16  117  Siddharth   35.0   27000.0  18/2/1997
17  118      Imran   40.0   28000.0  19/2/1997
18  119       Amit   24.0   29000.0  20/2/1997
19  200      Nupur   22.0   25000.0  21/2/1997
20  200      Nupur   22.0   25000.0  22/2/1997

# correlation method

In [116]:
import pandas as pd

df = pd.read_csv(r'C:\Users\home\Desktop\pandas\emp_data.csv')
print(df.corr())

              Id       Age    Salary
Id      1.000000 -0.029661 -0.088278
Age    -0.029661  1.000000 -0.034246
Salary -0.088278 -0.034246  1.000000